#all_select {
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.category {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
    gap: 1px;
    margin-top: 30px;
}

.parent,
.child_parent {
    position: relative;
    width: 240px;
    
}

.child {
    position: absolute;
    top: 0;
    left: 240px;
    width: 200px;
    display: none;
    flex-direction: column;
    gap: 1px;
    z-index: 500;
}

.parent:hover .child {
    display: flex;
}

.child_parent_child {
    position: absolute;
    top: 0;
    left: 240px;
    width: 200px;
    display: none;
    flex-direction: column;
    gap: 1px;
}

.child_parent:hover .child_parent_child {
    display: flex;
}

.parent,
.child_parent,
.child_item {
    padding: 10px;
}

.parent {
    background-color: white;
    color: #66707f;
}

.parent:hover {
    color: #843135;
}

.child_parent {
    background-color: white;
    color: #66707f;
}

.child_parent:hover {
    color: #843135;
    background-color: rgb(186, 186, 186);
}

.child_item {
    background-color: rgb(224, 211, 211);
    z-index: 500;
}

.child_item:hover {
    color: #843135;
}